<%-include("partials/header") %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body class="vh-100">

    <%-include("partials/navbar") %>

            <div class="row">
                <div class="col">
                    <h1 class="text-center mt-4 mb-4">Agregar Post</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mx-auto">
                    <form action="#" id="form-nuevo">
                        <div class="mb-3">
                            <input type="text" id="titulo" placeholder="Encabezado noticia" class="form-control">
                        </div>
                       
                        <div class="form-label mb-3">
                            <textarea class="form-control" placeholder="Cuerpo noticia" rows="6"></textarea>                           
                        </div>

                        <div class="mb-3">
                            <input type="text" id="url_imagen" placeholder="URL foto descriptiva" class="form-control">
                        </div>
                        
                        <div class="mb-3">
                            <input type="date" id="fecha_publicacion" class="form-control">
                        </div>

                        <button type="submit" class="btn btn-sm btn-primary">
                            Guardar
                        </button>
                    </form>
                </div>
            </div>






    <script src="/js/admin.js" type="module"></script>

    <%-include("partials/footer") %>